public-hoist-pattern[]=@primevue*
public-hoist-pattern[]=@primeuix*
public-hoist-pattern[]=@vueuse*
public-hoist-pattern[]=d3
public-hoist-pattern[]=papaparse
public-hoist-pattern[]=xlsx
public-hoist-pattern[]=unstorage
